{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
<div id="outside-backgrounds">
<h1>Change Your Password</h1>
    <form action="/change_password" method="post">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="confirmation" placeholder="Password (again)" type="password">
        </div>
        <div class="center-button">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
</div>
{% endblock %}
