{% extends "layout.html" %}

{% block title %}
    Sleep
{% endblock %}

{% block main %}
<div id="sleep-background">
<h2>How many hours did you sleep last?</h2>
<h3>Please round to the nearest hour.</h3>
<form action="/sleep" method="post">
    <div class="mb-3">
        <input autocomplete="off" class="form-control mx-auto" style="width: 100px;" min="0" max="24" name="sleep" placeholder="Hours" type="number">
    </div>
    <div class="center-button">
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</form>
</div>
{% endblock %}
